<header class="header fixed-block">
  <div class="container">
    <div class="header__box">
      <a href="/" class="logo">
        <img width='299' height='120' src='img/sprite/logo.svg' alt='image'>
      </a>

      <div class="header__inner">
        <a href="#" class="geo-link">
          <svg width='32' height='32'>
            <use href='img/sprite/sprite.svg#geo'></use>
          </svg>
          Ukraine
        </a>

        <div class="main-phone">
          <button class="main-phone__btn">
            <svg width='32' height='32'>
              <use href='img/sprite/sprite.svg#telephone'></use>
            </svg>
          </button>

          <div class="main-phone__wrapp">
            <a href="tel:380937871678" class="main-phone__link">+38 093 78 71 678</a>
          </div>
        </div>

        <div class="header__search" data-search>
          <form class="search-form">
            <label for="search" class="search-form__label">
              <input name="search" id="search" type="text" class="search-form__input">
              <button class="search-form__btn">
                <svg width='32' height='32'>
                  <use href='img/sprite/sprite.svg#search'></use>
                </svg>
              </button>
            </label>
          </form>

          <ul class="search-wrapper">
            <li class="search-wrapper__item">
              <a href="#" class="search-wrapper__inner">
                <div class="search-wrapper__image">
                  <picture>
                    <source type='image/webp' srcset='img/index/revo.webp'>
                    <img width='60' height='90' src='img/index/revo.png' alt='image'>
                  </picture>
                </div>

                <div class="search-wrapper__box">
                  <span class="search-wrapper__title">Revo™</span>
                  <span class="search-wrapper__pretitle">REVO alco energy</span>
                  <span class="search-wrapper__price">50<b>₴</b></span>
                </div>
              </a>
            </li>
            <li class="search-wrapper__item">
              <a href="#" class="search-wrapper__inner">
                <div class="search-wrapper__image">
                  <picture>
                    <source type='image/webp' srcset='img/index/shake.webp'>
                    <img width='60' height='90' src='img/index/shake.png' alt='image'>
                  </picture>
                </div>

                <div class="search-wrapper__box">
                  <span class="search-wrapper__title">Shake™</span>
                  <span class="search-wrapper__pretitle">BITTER LEMON</span>
                  <span class="search-wrapper__price">50<b>₴</b></span>
                </div>
              </a>
            </li>
            <li class="search-wrapper__item">
              <a href="#" class="search-wrapper__inner">
                <div class="search-wrapper__image">
                  <picture>
                    <source type='image/webp' srcset='img/index/apps.webp'>
                    <img width='60' height='90' src='img/index/apps.png' alt='image'>
                  </picture>
                </div>

                <div class="search-wrapper__box">
                  <span class="search-wrapper__title">APPS™</span>
                  <span class="search-wrapper__pretitle">Cherry</span>
                  <span class="search-wrapper__price">50<b>₴</b></span>
                </div>
              </a>
            </li>
            <li class="search-wrapper__item">
                <a href="#" class="search-wrapper__link">
                  до всіх результатів
                  <svg width='40' height='35'>
                    <use href='img/sprite/sprite.svg#arrow-r'></use>
                  </svg>
                </a>
            </li>
          </ul>
        </div>

        <button class="header__btn">
          <svg width='32' height='32'>
            <use href='img/sprite/sprite.svg#user'></use>
          </svg>
        </button>
        
        <button class="header__btn">
          <svg width='32' height='32'>
            <use href='img/sprite/sprite.svg#Frame'></use>
          </svg>
          <span class="header__btn-count">2</span>
        </button>

      </div>

      <button class="burger">
        <span class="burger__line"></span>
      </button>

      <div class="mobile">
        <div class="mobile__box">
          <nav class="header__nav">
            <ul>
              <li>
                <a href="#">Каталог</a>
              </li>
              <li>
                <a href="#">Блог</a>
              </li>
              <li>
                <a href="#">Про нас</a>
              </li>
            </ul>
          </nav>

          <div class="header__inner">
            <a href="#" class="geo-link">
              <svg width='32' height='32'>
                <use href='img/sprite/sprite.svg#geo'></use>
              </svg>
              Ukraine
            </a>

            <div class="header__search">
              <form class="search-form">
                <label for="search" class="search-form__label">
                  <input name="search" id="search" type="text" class="search-form__input">
                  <button class="search-form__btn">
                    <svg width='32' height='32'>
                      <use href='img/sprite/sprite.svg#search'></use>
                    </svg>
                  </button>
                </label>
              </form>

              <ul class="search-wrapper">
                <li class="search-wrapper__item">
                  <div class="search-wrapper__image">
                    <picture>
                      <source type='image/webp' srcset='img/index/revo.webp'>
                      <img width='60' height='90' src='img/index/revo.png' alt='image'>
                    </picture>
                  </div>

                  <div class="search-wrapper__box">
                    <span class="search-wrapper__title">Revo™</span>
                    <span class="search-wrapper__pretitle">REVO alco energy</span>
                    <span class="search-wrapper__price">50₴</span>
                  </div>
                </li>
                <li class="search-wrapper__item">
                  <div class="search-wrapper__image">
                    <picture>
                      <source type='image/webp' srcset='img/index/shake.webp'>
                      <img width='60' height='90' src='img/index/shake.png' alt='image'>
                    </picture>
                  </div>

                  <div class="search-wrapper__box">
                    <span class="search-wrapper__title">Shake™</span>
                    <span class="search-wrapper__pretitle">BITTER LEMON</span>
                    <span class="search-wrapper__price">50₴</span>
                  </div>
                </li>
                <li class="search-wrapper__item">
                  <div class="search-wrapper__image">
                    <picture>
                      <source type='image/webp' srcset='img/index/apps.webp'>
                      <img width='60' height='90' src='img/index/apps.png' alt='image'>
                    </picture>
                  </div>

                  <div class="search-wrapper__box">
                    <span class="search-wrapper__title">APPS™</span>
                    <span class="search-wrapper__pretitle">Cherry</span>
                    <span class="search-wrapper__price">50₴</span>
                  </div>
                </li>
                <li class="search-wrapper__item">
                    <a href="#" class="search-wrapper__link">
                      до всіх результатів
                      <svg width='40' height='35'>
                        <use href='img/sprite/sprite.svg#arrow-r'></use>
                      </svg>
                    </a>
                </li>
              </ul>
            </div>

            <button class="header__btn">
              <svg width='32' height='32'>
                <use href='img/sprite/sprite.svg#user'></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>