<div class="overlay fixed-block" data-overlay>
  <div class="modal" data-popup="thank">
    <div class="modal__box">
      <div class="modal__top">
        <a href="/" class="logo">
          <img width='89' height='32' src='img/sprite/logo.svg' alt='image'>
        </a>

        <button class="close modal__close">
          Закрити
          <svg width='30' height='30'>
            <use href='img/sprite/sprite.svg#close'></use>
          </svg>
        </button>
      </div>

      <div class="modal__inner">
        <div class="editor">
          <h3><i>Дякуємо</i><br> за вашу заявку</h3>
          <p>Ми вже працюємо над вашим запитом.</p>
        </div>
      </div>

      <div class="socials" data-title="Слідкуйте за нами">
        <ul class="socials__list">
          <li class="socials__item">
            <a class="socials__link" href="#">
              <svg width='30' height='30'>
                <use href='img/sprite/sprite.svg#Viber'></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#">
              <svg width='30' height='30'>
                <use href='img/sprite/sprite.svg#tg'></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#">
              <svg width='30' height='30'>
                <use href='img/sprite/sprite.svg#inst'></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#">
              <svg width='30' height='30'>
                <use href='img/sprite/sprite.svg#fb'></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="modal mode" data-popup="order">
    <div class="modal__box">
      <div class="modal__top">
        <a href="/" class="logo">
          <img width='89' height='32' src='img/sprite/logo.svg' alt='image'>
        </a>

        <button class="close modal__close">
          Закрити
          <svg width='30' height='30'>
            <use href='img/sprite/sprite.svg#close'></use>
          </svg>
        </button>
      </div>


      <div class="modal__wrapp">
        <div class="main-top">
          <div class="editor">
            <h2><i>Заявка</i><br> на переказ</h2>

            <p>Просто заповніть форму і надішліть її. Ми зробимо все інше за вас.</p>
          </div>

          <div class="main-top__labels">
            <span class="main-top__label">#європейські банки партнери</span>
            <span class="main-top__label white">#вигідні курси</span>
          </div>
        </div>


        <div class="main-order">
          <form class="main-form">
            <div class="main-form__field">
              <span class="main-form__title">Я хочу відправити</span>

              <div class="main-form__inner">
                <label class="main-form__label" for="value_2">
                  <input class="main-form__input" id="value_2" name="value_2" placeholder="1000" type="number">

                  <button class="main-form__delete">
                    <svg width='13' height='13'>
                      <use href='img/sprite/sprite.svg#close2'></use>
                    </svg>
                  </button>
                </label>

                <div class="select" data-select>
                  <div class="select__header">
                    <input type="hidden" class="select__input input-select" id="currency_2" name="currency_2" value="1">
                    <span class="select__current" data-id="1">
                      <img width="20" height="14" src="./img/flags/US.svg" alt="image">
                      USD
                    </span>
                    <svg class="select__current-icon" width='13' height='13'>
                      <use href='img/sprite/sprite.svg#caret-down'></use>
                    </svg>
                  </div>
                  <div class="select__body">
                    <ul class="select__list">
                      <li class="select__option" data-id="1" data-type="option">
                        <img width="20" height="14" src="./img/flags/US.svg" alt="image">
                        USD
                      </li>
                      <li class="select__option" data-id="2" data-type="option">
                        <img width="20" height="14" src="./img/flags/PL.svg" alt="image">
                        PLN
                      </li>
                      <li class="select__option" data-id="3" data-type="option">
                        <img width="20" height="14" src="./img/flags/GB.svg" alt="image">
                        GBR
                      </li>
                      <li class="select__option" data-id="4" data-type="option">
                        <img width="20" height="14" src="./img/flags/DK.svg" alt="image">
                        DKK
                      </li>
                      <li class="select__option" data-id="5" data-type="option">
                        <img width="20" height="14" src="./img/flags/HU.svg" alt="image">
                        HUF
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="main-form__field">
              <span class="main-form__title">Країна одержувача</span>

              <div class="select" data-select>
                <div class="select__header">
                  <input type="hidden" class="select__input input-select" id="country_2" name="country_2" value="1">
                  <span class="select__current" data-id="1">
                    <img width="20" height="14" src="./img/flags/DK.svg" alt="image">
                    Данія
                  </span>
                  <svg class="select__current-icon" width='13' height='13'>
                    <use href='img/sprite/sprite.svg#caret-down'></use>
                  </svg>
                </div>
                <div class="select__body">
                  <ul class="select__list">
                    <li class="select__option" data-id="1" data-type="option">
                      <img width="20" height="14" src="./img/flags/DK.svg" alt="image">
                      Данія
                    </li>
                    <li class="select__option" data-id="2" data-type="option">
                      <img width="20" height="14" src="./img/flags/HU.svg" alt="image">
                      Hungary
                    </li>
                    <li class="select__option" data-id="3" data-type="option">
                      <img width="20" height="14" src="./img/flags/PL.svg" alt="image">
                      Poland
                    </li>
                    <li class="select__option" data-id="4" data-type="option">
                      <img width="20" height="14" src="./img/flags/GB.svg" alt="image">
                      UK
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </form>

          <div class="wpcf7">
            <form class="main-form" aria-label="Contact form">
              <div class="main-form__field">
                <span class="main-form__title">Ваше ім’я*</span>
                <label class="main-form__label" for="name_2">
                  <input class="main-form__input" id="name_2" name="name_2" placeholder="Ваше ім’я" type="text">
                  <button class="main-form__delete">
                    <svg width='13' height='13'>
                      <use href='img/sprite/sprite.svg#close2'></use>
                    </svg>
                  </button>
                </label>
              </div>

              <div class="main-form__field">
                <span class="main-form__title">Номер телефону*</span>
                <label class="main-form__label" for="phone_2">
                  <input class="main-form__input" id="phone_2" name="phone_2" placeholder="+38 (012) 345-67-89"
                    type="tel">
                  <button class="main-form__delete">
                    <svg width='13' height='13'>
                      <use href='img/sprite/sprite.svg#close2'></use>
                    </svg>
                  </button>
                </label>
              </div>

              <button class="main-btn" data-btn-inner="thank">
                Відправити
                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#ArrowLeft'></use>
                </svg>
              </button>
            </form>
          </div>

          <span class="main-order__text">Якась необхідна інформація клієнту, що буде відбуватись далі. (Ми з вами
            зв’яжемось)</span>
        </div>
      </div>
    </div>
  </div>

  <div class="modal mode" data-popup="swap">
    <div class="modal__box">
      <div class="modal__top">
        <a href="/" class="logo">
          <img width='89' height='32' src='img/sprite/logo.svg' alt='image'>
        </a>

        <button class="close modal__close">
          Закрити
          <svg width='30' height='30'>
            <use href='img/sprite/sprite.svg#close'></use>
          </svg>
        </button>
      </div>

      <div class="modal__wrapp">
        <div class="main-top">
          <div class="editor">
            <h2><i>Заявка</i><br> на обмін</h2>

            <p>Хочете обміняти великі суми на вигідних умовах? Залиште заявку, і наш менеджер вам допоможе!.</p>
          </div>

          <div class="main-top__labels">
            <span class="main-top__label">#миттєвий розрахунок</span>
            <span class="main-top__label white">#гуртові знижки від $500</span>
          </div>
        </div>

        <div class="main-order">
          <form class="main-form swap">
            <div class="main-form__field">
              <span class="main-form__title">Я продаю</span>

              <div class="main-form__inner">
                <label class="main-form__label" for="value">
                  <input class="main-form__input" id="value" name="value" placeholder="1000" type="number">

                  <button class="main-form__delete">
                    <svg width='13' height='13'>
                      <use href='img/sprite/sprite.svg#close2'></use>
                    </svg>
                  </button>
                </label>

                <div class="select" data-select>
                  <div class="select__header">
                    <input type="hidden" class="select__input input-select" id="currency" name="currency" value="1">
                    <span class="select__current" data-id="1">
                      <img width="20" height="14" src="./img/flags/US.svg" alt="image">
                      USD
                    </span>
                    <svg class="select__current-icon" width='13' height='13'>
                      <use href='img/sprite/sprite.svg#caret-down'></use>
                    </svg>
                  </div>
                  <div class="select__body">
                    <ul class="select__list">
                      <li class="select__option" data-id="1" data-type="option">
                        <img width="20" height="14" src="./img/flags/US.svg" alt="image">
                        USD
                      </li>
                      <li class="select__option" data-id="2" data-type="option">
                        <img width="20" height="14" src="./img/flags/PL.svg" alt="image">
                        PLN
                      </li>
                      <li class="select__option" data-id="3" data-type="option">
                        <img width="20" height="14" src="./img/flags/GB.svg" alt="image">
                        GBR
                      </li>
                      <li class="select__option" data-id="4" data-type="option">
                        <img width="20" height="14" src="./img/flags/DK.svg" alt="image">
                        DKK
                      </li>
                      <li class="select__option" data-id="5" data-type="option">
                        <img width="20" height="14" src="./img/flags/HU.svg" alt="image">
                        HUF
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="main-form__field">
              <span class="main-form__title">Я продаю</span>

              <div class="main-form__inner">
                <label class="main-form__label" for="value_3">
                  <input class="main-form__input" id="value_3" name="value_3" value="41100" type="number">

                  <button class="main-form__delete">
                    <svg width='13' height='13'>
                      <use href='img/sprite/sprite.svg#close2'></use>
                    </svg>
                  </button>
                </label>

                <div class="select" data-select>
                  <div class="select__header">
                    <input type="hidden" class="select__input input-select" id="currency" name="currency" value="3">
                    <span class="select__current" data-id="1">
                      <img width="20" height="14" src="./img/flags/GB.svg" alt="image">
                      GBR
                    </span>
                    <svg class="select__current-icon" width='13' height='13'>
                      <use href='img/sprite/sprite.svg#caret-down'></use>
                    </svg>
                  </div>
                  <div class="select__body">
                    <ul class="select__list">
                      <li class="select__option" data-id="1" data-type="option">
                        <img width="20" height="14" src="./img/flags/US.svg" alt="image">
                        USD
                      </li>
                      <li class="select__option" data-id="2" data-type="option">
                        <img width="20" height="14" src="./img/flags/PL.svg" alt="image">
                        PLN
                      </li>
                      <li class="select__option" data-id="3" data-type="option">
                        <img width="20" height="14" src="./img/flags/GB.svg" alt="image">
                        GBR
                      </li>
                      <li class="select__option" data-id="4" data-type="option">
                        <img width="20" height="14" src="./img/flags/DK.svg" alt="image">
                        DKK
                      </li>
                      <li class="select__option" data-id="5" data-type="option">
                        <img width="20" height="14" src="./img/flags/HU.svg" alt="image">
                        HUF
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="wpcf7">
            <form class="main-form" aria-label="Contact form">
              <div class="main-form__field">
                <span class="main-form__title">Ваше ім’я*</span>
                <label class="main-form__label" for="name">
                  <input class="main-form__input" id="name" name="name" placeholder="Ваше ім’я" type="text">
                  <button class="main-form__delete">
                    <svg width='13' height='13'>
                      <use href='img/sprite/sprite.svg#close2'></use>
                    </svg>
                  </button>
                </label>
              </div>

              <div class="main-form__field">
                <span class="main-form__title">Номер телефону*</span>
                <label class="main-form__label" for="phone">
                  <input class="main-form__input" id="phone" name="phone" placeholder="+38 (012) 345-67-89" type="tel">
                  <button class="main-form__delete">
                    <svg width='13' height='13'>
                      <use href='img/sprite/sprite.svg#close2'></use>
                    </svg>
                  </button>
                </label>
              </div>

              <button class="main-btn" data-btn-inner="thank">
                Відправити
                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#ArrowLeft'></use>
                </svg>
              </button>
            </form>
          </div>

          <span class="main-order__text">Короткий текст. Якась необхідна інформація клієнту, що буде відбуватись далі.
            (Ми з вами зв’яжемось)</span>
        </div>
      </div>

      <div class="main-valute" data-tabs-parrent data-title="Курси валют UAH">
        <span class="main-valute__pretitle">Ми пропонуємо актуальні курси для роздрібних та оптових обмінів.</span>
        <div class="main-valute__box">
          <nav class="valute-nav">
            <button class="valute-nav__swap" data-tab-btn>
              <svg width='21' height='21'>
                <use href='img/sprite/sprite.svg#arrow-left-right'></use>
              </svg>
            </button>
            <ul class="valute-nav__list">
              <li class="valute-nav__item">
                <button class="valute-nav__btn active" type="button" data-tab="1">Роздрібні ціни</button>
              </li>
              <li class="valute-nav__item">
                <button class="valute-nav__btn" type="button" data-tab="2">Оптові ціни</button>
              </li>
            </ul>
          </nav>

          <ul class="main-valute__content">
            <li class="main-valute__item active" data-tab-content="1">
              <ul class="valute-list">
                <li class="valute-list__item head">
                  <span class="valute-list__text">Продаж</span>
                  <span class="valute-list__text">Валюта</span>
                  <span class="valute-list__text">Купівля</span>
                </li>
                <li class="valute-list__item">
                  <span class="valute-list__value">41.1</span>
                  <span class="valute-list__value">
                    <img width='20' height='14' src='img/flags/US.svg' alt='image'>
                    USD
                  </span>
                  <span class="valute-list__value">41.55</span>
                </li>
                <li class="valute-list__item">
                  <span class="valute-list__value">44.85</span>
                  <span class="valute-list__value">
                    <img width='20' height='14' src='img/flags/EU.svg' alt='image'>
                    USD
                  </span>
                  <span class="valute-list__value">45.35</span>
                </li>
                <li class="valute-list__item">
                  <span class="valute-list__value">10.65</span>
                  <span class="valute-list__value">
                    <img width='20' height='14' src='img/flags/PL.svg' alt='image'>
                    PLN
                  </span>
                  <span class="valute-list__value">10.20</span>
                </li>
                <li class="valute-list__item">
                  <span class="valute-list__value">54.30</span>
                  <span class="valute-list__value">
                    <img width='20' height='14' src='img/flags/GB.svg' alt='image'>
                    GBR
                  </span>
                  <span class="valute-list__value">53.65</span>
                </li>
                <li class="valute-list__item">
                  <span class="valute-list__value">5.30</span>
                  <span class="valute-list__value">
                    <img width='20' height='14' src='img/flags/DK.svg' alt='image'>
                    DKK
                  </span>
                  <span class="valute-list__value">4</span>
                </li>
                <li class="valute-list__item">
                  <span class="valute-list__value">0.113</span>
                  <span class="valute-list__value">
                    <img width='20' height='14' src='img/flags/HU.svg' alt='image'>
                    HUF
                  </span>
                  <span class="valute-list__value">0.106</span>
                </li>
                <li class="valute-list__item">
                  <span class="valute-list__value">41.1</span>
                  <span class="valute-list__value">
                    <img width='20' height='14' src='img/flags/US.svg' alt='image'>
                    USD
                  </span>
                  <span class="valute-list__value">41.55</span>
                </li>
                <li class="valute-list__item">
                  <span class="valute-list__value">44.85</span>
                  <span class="valute-list__value">
                    <img width='20' height='14' src='img/flags/EU.svg' alt='image'>
                    USD
                  </span>
                  <span class="valute-list__value">45.35</span>
                </li>
                <li class="valute-list__item">
                  <span class="valute-list__value">10.65</span>
                  <span class="valute-list__value">
                    <img width='20' height='14' src='img/flags/PL.svg' alt='image'>
                    PLN
                  </span>
                  <span class="valute-list__value">10.20</span>
                </li>
                <li class="valute-list__item">
                  <span class="valute-list__value">54.30</span>
                  <span class="valute-list__value">
                    <img width='20' height='14' src='img/flags/GB.svg' alt='image'>
                    GBR
                  </span>
                  <span class="valute-list__value">53.65</span>
                </li>
                <li class="valute-list__item">
                  <span class="valute-list__value">5.30</span>
                  <span class="valute-list__value">
                    <img width='20' height='14' src='img/flags/DK.svg' alt='image'>
                    DKK
                  </span>
                  <span class="valute-list__value">4</span>
                </li>
                <li class="valute-list__item">
                  <span class="valute-list__value">0.113</span>
                  <span class="valute-list__value">
                    <img width='20' height='14' src='img/flags/HU.svg' alt='image'>
                    HUF
                  </span>
                  <span class="valute-list__value">0.106</span>
                </li>
              </ul>
            </li>
            <li class="main-valute__item" data-tab-content="2">
              <ul class="valute-list">
                <li class="valute-list__item head">
                  <span class="valute-list__text">Продаж</span>
                  <span class="valute-list__text">Валюта</span>
                  <span class="valute-list__text">Купівля</span>
                </li>
                <li class="valute-list__item">
                  <span class="valute-list__value">54.30</span>
                  <span class="valute-list__value">
                    <img width='20' height='14' src='img/flags/GB.svg' alt='image'>
                    GBR
                  </span>
                  <span class="valute-list__value">53.65</span>
                </li>
                <li class="valute-list__item">
                  <span class="valute-list__value">5.30</span>
                  <span class="valute-list__value">
                    <img width='20' height='14' src='img/flags/DK.svg' alt='image'>
                    DKK
                  </span>
                  <span class="valute-list__value">4</span>
                </li>
                <li class="valute-list__item">
                  <span class="valute-list__value">0.113</span>
                  <span class="valute-list__value">
                    <img width='20' height='14' src='img/flags/HU.svg' alt='image'>
                    HUF
                  </span>
                  <span class="valute-list__value">0.106</span>
                </li>
                <li class="valute-list__item">
                  <span class="valute-list__value">41.1</span>
                  <span class="valute-list__value">
                    <img width='20' height='14' src='img/flags/US.svg' alt='image'>
                    USD
                  </span>
                  <span class="valute-list__value">41.55</span>
                </li>
                <li class="valute-list__item">
                  <span class="valute-list__value">44.85</span>
                  <span class="valute-list__value">
                    <img width='20' height='14' src='img/flags/EU.svg' alt='image'>
                    USD
                  </span>
                  <span class="valute-list__value">45.35</span>
                </li>
                <li class="valute-list__item">
                  <span class="valute-list__value">10.65</span>
                  <span class="valute-list__value">
                    <img width='20' height='14' src='img/flags/PL.svg' alt='image'>
                    PLN
                  </span>
                  <span class="valute-list__value">10.20</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>