.error-section{
    margin: clamp(100px, 11.6279vw, 200px) clamp(100px, 8.7209vw, 150px);

    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        .black-btn{
            height: 64px;
            font-size: 24px;
            padding: 20px 30px;
        }
    }

    &__text{
        display: flex;
        flex-direction: column;
        gap: 10px;

        p{
            font-weight: 400;
            font-size: 24px;
            line-height: 112%;
            text-align: center;
        }
    }
}