.hero-slider {
  width: 100%;
  display: flex;
  height: clamp(300px, 50.6977vw, 872px);
  position: relative;

  @include small-tablet {
    height: fit-content;
  }

  .swiper-container {
    width: 100%;
  }

  .swiper-slide {
    position: relative;
    z-index: 1;
    transition: opacity 1s ease-in-out;

    @include for-small-tablet {
      height: clamp(300px, 50.6977vw, 872px);
    }

    @include small-tablet {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  &__image {
    display: flex;
    width: 100%;
    height: clamp(300px, 50.6977vw, 872px);
    position: relative;
    opacity: 73%;

    svg {
      display: flex;
      height: auto;

      @include small-tablet {
        display: none;
      }
    }

    img,
    picture {
      width: 100%;
      height: 100%;
    }

    @include for-small-tablet {
      margin: 10px 0 0;
    }

    @include small-tablet {
      height: Min(92.057vw,707px);
      width: 100%;
    }

    &-mob {
      @include for-small-tablet {
        display: none !important;
      }

      @include small-tablet {
        display: flex !important;
      }
    }
  }

  .swiper-pagination {
    position: absolute;
    right: 0;
    top: Min(17.3256vw, 290px);
    z-index: 5;
    gap: clamp(5px, 1.302vw, 25px);

    &-bullet {
      cursor: pointer;
      display: flex;

      opacity: 0.5;
      background-color: var(--bg-a);

      &-active {
        opacity: 1;
      }

      @include for-small-tablet {
        width: clamp(10px, 1.302vw, 25px);
        height: clamp(10px, 1.302vw, 25px);
      }

      @include small-tablet {
        width: clamp(10px, 3.255vw, 25px);
        height: clamp(10px, 3.255vw, 25px);
      }
    }

    &-active {
      background-color: var(--bg-a);
    }

    @media (min-width: (1851px)) {
      top: clamp(280px, 16.5698vw, 285px);
    }

    @include for-desktop {
      transform: translate(-40%, -50%);
    }

    @include desktop {
      transform: translate(-20%, -50%);
    }

    @include tablet {
      transform: translate(-20%, -45%);
    }

    @include small-tablet {
      gap: clamp(5px, 1.953vw, 15px);
      top: 50%;
      transform: translate(-10%, -50%);

      top: calc(Min(92.057vw,707px) / 2);
    }
  }

  p {
    display: flex;
    font-family: var(--font-family);
    font-weight: 400;

    color: var(--cl-c);
    line-height: 100%;

    @include for-small-tablet {
      font-size: Min(3.125vw, 60px);
      text-align: right;
    }

    @include small-tablet {
      font-size: clamp(25px, 3.4884vw, 60px);
    }

    @media (min-width: (1791px)) {
      bottom: -7px;
    }

    @media (max-width: (1790px)) {
      @include for-small-tablet {
        bottom: 1.5%;
      }
    }

    @include for-small-tablet {
      max-width: Min(57.8488vw, 995px);
      position: absolute;
      right: 0;
    }

    @include small-tablet {
      br {
        display: none;
      }
    }
  }
}
